<html>
    <div style="float: left">
        <canvas id="drawcanvas" style="width:768px; height:768px; image-rendering: pixelated;"></canvas>
    </div>
    <div style="float: left">
        <br>
        <br>
        Current Element: <span id="element">sand</span><br>
        <div id="elembuttons">
            <button type="button" onclick="setElement('empty')">Empty</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('wall')">Wall</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('sand')">Sand</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('water')">Water</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('gas')">Gas</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('wood')">Wood</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('ice')">Ice</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('fire')">Fire</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('plant')">Plant</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('stone')">Stone</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('lava')">Lava</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('acid')">Acid</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('dust')">Dust</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('cloner')">Cloner</button><span class="elemcolor">-----</span><br>
            <button type="button" onclick="setElement('wind')">Wind</button><span class="elemcolor">-----</span><br>
        </div>
    </div>
<!--     <img src="/current_render"/> -->
</html>

<style>
    .elemcolor {
        width: 50px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    var canvas = document.getElementById("drawcanvas");
    var ctx = canvas.getContext("2d");

    var socket = io();
    socket.emit('message', 'init');
    
    socket.on('blockdata', function(msg) {
        if(msg != "Blank") {
            const image = new Image();
            image.onload = () => {
                ctx.imageSmoothingEnabled = false;
                ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                isDone = true;
            };
            image.src = msg;
        }
        socket.emit('message', 'hello');
    });
    
    var mouseDown;
    canvas.onmousedown = function(event){
        mouseDown = true;
    }

    // for mouseup
    canvas.onmouseup = function(event){
        mouseDown = false;
    }
    
    var cooldown = true;
    var lastx = 0;
    var lasty = 0;
    canvas.addEventListener('mousemove', event => {
        if(mouseDown & cooldown) {
            var x = event.offsetX / 768.0;
            var y = event.offsetY / 768.0;
            
            var deltax = x - lastx;
            var deltay = y - lasty;
            var mag = Math.sqrt(deltax**2 + deltay**2)
            deltax /= mag + 0.001;
            deltay /= mag + 0.001;
            lastx = x;
            lasty = y;
            
            console.log("x coords: " + deltax + ", y coords: " + deltay);

            formData = new URLSearchParams({
                action: currElem,
                x: x,
                y: y,
                windx: deltax,
                windy: deltay,
            });
            fetch('/make_block', {
                method: "POST",
                headers: {
                  "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
                },
                body: formData,
            })
            cooldown = false;
            setTimeout(coolDownTime, 10);
        }
    });
    
    function coolDownTime() {
        cooldown = true;
    }
    
    var currElem = 'sand';
    function setElement(elem) {
        currElem = elem;
        document.getElementById('element').innerHTML = currElem;
    }
    
    var colors = [[236, 240, 241],
            [108, 122, 137],
            [243, 194, 58],
            [75, 119, 190],
            [135, 95, 154],
            [202, 105, 36],
            [137, 196, 244],
            [249, 104, 14],
            [38, 194, 129],
            [38, 67, 72],
            [157, 41, 51],
            [176, 207, 120],
            [255, 179, 167],
            [191, 85, 236],
            [100, 100, 100]];
    const buttons = document.getElementById('elembuttons').querySelectorAll("span");
    // iterate over all child nodes
    for(var i = 0; i < buttons.length; i++) {
        buttons[i].style.backgroundColor = 'rgb(' + colors[i][0] + ',' + colors[i][1] + ',' + colors[i][2] + ')';
    }
</script>